/* body */
body {
    display: flex;
    flex-direction: column;
    background: scroll;
    background-color: aqua;
}

/* main */
main {
    display: flex;
    flex-direction: row;
    flex: auto;
    border:rgb(from color r g b);
}

/* article */
article {
    flex: 2;
    overflow-y: auto;
    border-style: dotted;
}

/* aside */
aside {
    flex: 1;
    overflow-y: auto;
}
